{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}成绩{% endblock %}
{% block content %}
    <!--卡片显示区域-->
    <div class="row" style="width: 50%; float:left; margin-left:23%; margin-top:6%; ">
          <ul class="collection with-header">
            <li class="collection-header"><h4>{{ answer.task }}的成绩</h4></li>
            <li class="collection-item">
              <div>
                {{ answer.task.taskDesc }}
                <a href="#!" class="secondary-content" style="margin-left:700px;">{{ answer.grade }}</a>                            
              </div>
            </li>
        </ul>
    </div>
{% endblock %}